COMMENT="These variables are overriden during CI/CD when deploying to our production environment"
COMMENT="apply_env.sh replaces @ {{VAR}} with the env var value of VAR"

APP_ENV="@{{APP_ENV}}"
JWT_SECRET="@{{JWT_SECRET}}"
INTERNAL_AUTH_SECRET="@{{INTERNAL_AUTH_SECRET}}"
FILESTORAGE_ACCESS_KEY="@{{FILESTORAGE_ACCESS_KEY}}"
FILESTORAGE_SECRET_KEY="@{{FILESTORAGE_SECRET_KEY}}"
DISCORD_BOT_ADMIN_USER_ID="@{{DISCORD_BOT_ADMIN_USER_ID}}"
POSTGRES_PASSWORD="@{{POSTGRES_PASSWORD}}"
ALERTS_DISCORD_WEBHOOK="@{{ALERTS_DISCORD_WEBHOOK}}"
GF_SECURITY_ADMIN_USER="@{{GF_SECURITY_ADMIN_USER}}"
GF_SECURITY_ADMIN_PASSWORD="@{{GF_SECURITY_ADMIN_PASSWORD}}"
SYSTEM_EXTERNAL_URL="@{{SYSTEM_EXTERNAL_URL}}"
CONTAINER_REGISTRY="@{{CONTAINER_REGISTRY}}"
GIT_FULL_REPO_NAME="@{{GIT_FULL_REPO_NAME}}"
DOCKER_IMAGE_TAG="@{{DOCKER_IMAGE_TAG}}"
CERTBOT_EMAIL="@{{CERTBOT_EMAIL}}"
CERTBOT_DOMAINS="@{{CERTBOT_DOMAINS}}"
USE_TEST_CERT="@{{USE_TEST_CERT}}"
NPM_REGISTRY_URL="@{{NPM_REGISTRY_URL}}"
NPM_TOKEN="@{{NPM_TOKEN}}"
AUTH_ADMIN_EMAIL="@{{AUTH_ADMIN_EMAIL}}"
AUTH_ADMIN_PASSWORD="@{{AUTH_ADMIN_PASSWORD}}"
PLAUSIBLE_SECRET_KEY="@{{PLAUSIBLE_SECRET_KEY}}"
PLAUSIBLE_BASE_URL="@{{PLAUSIBLE_BASE_URL}}"

COMMENT="These variables aren't usually modified"

POSTGRES_USER="postgres"
POSTGRES_HOST="postgres"
POSTGRES_PORT="5432"
DISCORD_BOT_DATABASE_NAME="discord_bot"
AUTH_DATABASE_NAME="auth"
APP_DATABASE_NAME="app"
ANALYTICS_DATABASE_NAME="analytics"
FILESERVER_DATABASE_NAME="fileserver"
GF_USERS_ALLOW_SIGN_UP=false
GF_INSTALL_PLUGINS=""
ALERTMANAGER_DISCORD_URL="http://alertmanager_discord:9094"
NGINX_URL="https://nginx"
DISCORD_EMOJI_SERVER_ID="1116643230478516254"
FILESTORAGE_BUCKET_NAME="default"
FILESTORAGE_ENDPOINT="http://minio:9000"

COMMENT="These variables were appended by our CI/CD (THIS SHOULD BE THE LAST LINE IN THE TEMPLATE FILE)"