# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Sensitive
.env
src/services/loki/minio-config.yaml

# Etc
**/__debug_bin
tmp
.DS_Store
/log/
*.pem
*.pb.go
node_modules/
.idea

.vscode
